{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Atualizar a Habilidade desenvolvida na Disciplina{% endblock %}

{% block main %}
    <center><h1>Atualizar a Habilidade desenvolvida na Disciplina</h1></center>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>

    <br/>
    <a href="{% url 'listarPromove'%}" class="btn btn-danger">Voltar</a>
{% endblock %}