{% extends 'base.html' %}

{% block title %}Listar Habilidade{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <form action="" class="form-group">
                <div class="row">
                    <div class="col-8">
                    </div>

                    <div class="col-2">
                        <input type="text" class="form-control" id="codigo" name="codigo"placeholder="Digite o código">
                    </div>

                    <div class="col-1">
                        <button class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <center>
                <h1>Lista de habilidades</h1>

                <table style="width:100%;" class="table table-striped">
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Recompensa</th>
                        <th>Opções</th>
                    </tr>

                    {% for habilidade in habilidades %}
                    <tr>
                        <td>{{ habilidade.nome }}</td>
                        <td>{{ habilidade.descricao }}</td>
                        <td>{{ habilidade.recompensa }}</td>
                        <td>
                            <a href="{% url 'editarHabilidade' habilidade.id %}" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{% url 'excluirHabilidade' habilidade.id %}" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </center>

            <br/>
            <a href="{% url 'adicionarHabilidade'%}" class="btn btn-primary">Nova Habilidade</a>
        </div>
    </div>
{% endblock %}