{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/footer-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Barra de MENU -->
    <div class="menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <!-- Menu escolas -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Escola
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'adicionarEscola'%}">Cadastrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarEscola'%}">Listar</a></li>
                            </ul>
                        </li>
        
                        <!-- Menu Turma -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Turma
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'adicionarTurma'%}">Cadastrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarTurma'%}">Listar</a></li>
                            </ul>
                        </li>

                        <!-- Menu Aluno -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Aluno
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'adicionarAluno'%}">Cadastrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarAluno'%}">Listar</a></li>
                            </ul>
                        </li>

                        <!-- Menu Professor -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Professor
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'adicionarProfessor'%}">Cadastrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarProfessor'%}">Listar</a></li>
                            </ul>
                        </li>

                        <!-- Menu Disciplina -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Disciplina
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'adicionarDisciplina'%}">Cadastrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarDisciplina'%}">Listar</a></li>
                            </ul>
                        </li>

                        <!-- Menu Habilidades -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Habilidades
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'adicionarHabilidade'%}">Cadastrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarHabilidade'%}">Listar</a></li>
                            </ul>
                        </li>

                        <!-- Menu Matriculas -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Matriculas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'adicionarMatricula'%}">Cadastrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarMatricula'%}">Listar</a></li>
                            </ul>
                        </li>

                        <!-- Menu Contens (tabela da relação das Diciplinas presentes em uma Turma) -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Disciplinas em Turmas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'adicionarContem'%}">Cadastrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarContem'%}">Listar</a></li>
                            </ul>
                        </li>

                        <!-- Menu Promove (tabela da relação das Habilidades desenvolvidas em uma Disciplina) -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Habilidades em Disciplinas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'adicionarPromove'%}">Cadastrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarPromove'%}">Listar</a></li>
                            </ul>
                        </li>

                        <!-- Menu Ministra -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ministragem
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'adicionarMinistra'%}">Cadastrar</a></li>
                                <li><a class="dropdown-item" href="{% url 'listarMinistra'%}">Listar</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="jumbotron">
            {% block main %}
            {% endblock %}
        </div>
    </div>

    <div class="footer2 ">
        My footer
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
</body>
</html>