{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Adicionar Professor ministrante da Turma{% endblock %}

{% block main %}
    <center><h1>Adicionar Professor ministrante da Turma</h1></center>

    <form action="{% url 'adicionarMinistra' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>

    <br/>
    <a href="{% url 'listarMinistra'%}">Voltar</a>
{% endblock %}